<form [formGroup]="filtersForm" class="d-flex">
 <ul class="nav justify-content-start">
  <li class="nav-item p-2">
    <select class="form-select" formControlName="sport" (change)="applyFilters()">
      <option value="">Sport</option>
      <option value="F5">F5</option>
      <option value="F7">F7</option>
      <option value="F11">F11</option>
      <option value="basket">Basket</option>
      <option value="padel">Padel</option>
    </select>
   </li>

   <!------- gender ------>
  <li class="nav-item p-2">
    <select  class="form-select" formControlName="gender" (change)="applyFilters()">
      <option value="">Gender</option>
      <option value="women">Women</option>
      <option value="men">Men</option>
      <option value="mixed">Mixed</option>
    </select>
  </li>
   <!------- category ------>
  <li class="nav-item p-2">
    <select class="form-select" formControlName="category" (change)="applyFilters()">
      <option value="">Category</option>
      <option value="+18">+18</option>
      <option value="+25">+25</option>
      <option value="+30">+30</option>
      <option value="+45">+45</option>
    </select>
  </li>

  <!------- reset ------>
  <li class="nav-item p-2">
    <button class="btn btn-outline-light" (click)="reset()"><i class="fa-solid fa-trash" style="color: #6d6969;"></i></button>
  </li>

</ul>
</form>


