.custom-gradient {
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dade3f, #fb00ff39);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dade3c, #fb00ff43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.team-gradient{
  background: #56a1f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde,#56a1f3 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #56a1f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.league-gradient{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9654e8, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-gradient {
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #fc00ff, #00dbde, 0,5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #fc00ff, #00dbde, 0,5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
