


<div *ngIf="leagues.length > 0; else noResults" class="row">
  <div *ngFor="let league of leagues" class="col-12 col-sm-4 d-block">
    <div class="card mb-5">
      <div class="card-body p-5">
          <div class="mb-3">
              <h3 class="">{{ league.league_name }}</h3>
          </div>
          <ul class="list-unstyled mb-4">
              <li class="mb-2 text-secondary"><strong>{{ league.location }}</strong></li>
              <li class="mb-2"> {{ league.sport.toUpperCase() }} {{ league.gender }} {{ league.category }} </li>
              <li class="mb-2 text-secondary"><p>{{ league.description }}</p></li>
          </ul>
          <div class="d-grid"><a class="btn btn-primary mb-2" >League Manager</a></div>
      </div>
    </div>
  </div>

</div>
<ng-template #noResults>
  <p>No se encontraron ligas.</p>
</ng-template>
