<header class="bg-dark py-5">
  <div class="container px-5 py-5">
      <div class="row gx-5 align-items-center justify-content-center py-5">
          <div class="col">
              <div class="my-5 pt-5 text-center">
                  <h1 class="display-2 text-white mb-3">Manage your <strong class="text-primary">leagues</strong> and <strong>tournaments</strong> with ease</h1>
                  <p class="lead text-white mb-5">Simplify tournament management and engage fans with easy access to teams, results, schedule, and standings.</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-5">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" [routerLink]="['/leagues']"><i class="fa-solid fa-magnifying-glass pe-2"></i>Leagues</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
